.Page_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 88vh;
  border-bottom: 2px solid black;
  margin-top: 50px;
}
.About_page > h1 {
  border-bottom: 6px solid #d8b129;
  width: 600px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 45px;
}
.About_page > p {
  font-size: 20px;
  max-width: 700px;
  word-wrap: break-word;
  text-align: justify;
  margin: 30px;
  padding-bottom: 3em;
}
.Skills_page {
  padding-top: 3em;
}
.Skills_page > h1 {
  border-bottom: 6px solid #d8b129;
  width: 600px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 45px;
}
.img_logos {
  display: flex;
  white-space: nowrap;
}
.img_logos > img {
  margin: 30px;
  width: 100px;
  height: 100px;
}
.img_logos > img {
  filter: brightness(0%);
}
.img_logos > img:hover {
  transition: 0.4s;
  filter: none;
}

.img_logos > img:not(:hover) {
  transition: 1s ease;
}
.Me_page {
  display: flex;
  justify-content: end;
  padding-right: 12em;
  padding-top: 5em;
}
.Me_page > img {
  width: 500px;
  height: 500px;
}
