.AboutMe {
  display: inline-block;
  height: 80vh;
}
h1 {
  color: #000;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.About {
  position: absolute;
  top: 100%;
  left: 5%;
  transform: translate(10%, -10%);
}

.NameSkills {
  position: absolute;
  top: 100%;
  left: 68%;
  transform: translate(10%, -10%);
}

p {
  position: absolute;
  top: 111.5%;
  left: 6%;
  transform: translate(10%, 90%);
  width: 500px;

  font-size: 20px;
}
.Skills {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 125%;
  left: 65%;
  transform: translate(10%, -10%);
}
.React {
  position: absolute;
  top: 120%;
  left: 15%;
  transform: translate(10%, 40%);
  transition: filter 0.3s;
}

.Python {
  position: absolute;
  top: 120%;
  left: 60%;
  transform: translate(10%, 40%);
}

hr {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 550px;
  background: #D8B129;
}
img {
  width: 100px;
  height: 100px;
}
