.Home {
  background-color: rgb(255, 255, 255);
  height: 90.7vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.Info1,
.Info2,
.Info3,
.Info4,
.Info5 {
  position: absolute;
  color: #000;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Info1 {
  top: 44%;
  left: 45.5%;
  transform: translate(-40%, -40%);
  font-size: 23px;
}

.Info2 {
  top: 50%;
  left: 43%;
  transform: translate(-45%, -45%);
  font-size: 100px;
}

.Info3 {
  top: 70%;
  left: 108%;
  transform: translate(-50%, -50%);
  color: #e9c02d;
  font-size: 100px;
}

.Info4 {
  top: 129%;
  left: 13%;
  font-size: 28px;
}

.Info5 {
  padding-left: 10px;
  white-space: nowrap;
  color: #e9c02d;
  font-size: 28px;
}

.Contato {
  background-color: black;
  width: 70px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  padding-left: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Contato img {
  width: 58px;
  height: 58px;
}
.Contato img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
