.Home {
  background-color: rgb(255, 255, 255);
  height: 90.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Info1, .Info2, .Info3, .Info4, .Info5 {
  position: absolute;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Info1 {
  position: absolute;
  top: 400px;
  left: 750px;
  transform: translate(-40%, -40%);
  font-size: 23px;
}

.Info2 {
  position: absolute;
  top: 460px;
  left: 816px;
  transform: translate(-45%, -45%);
  text-align: center;
  font-family: Inter;
  font-size: 100px;
}

.Info3 {
  position: absolute;
  top: 560px;
  left: 950px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d8b129;
  font-size: 100px;
}

.Info4 {
  position: absolute;
  top: 623px;
  left: 875px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 28px;
}

.Info5 {
  position: absolute;
  top: 623px;
  left: 1089px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d8b129;
  font-size: 28px;
}

@media (max-width: 768px) {
  .Info1, .Info2, .Info3, .Info4, .Info5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.Contato {
  background-color: black;
  width: 68px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Contato img {
  width: 58px;
  height: 58px;
}
.Contato img:hover {
  cursor: pointer;
}
