.grid-container {
  display: grid;
  grid-template-columns:1fr 1fr;
}
.page_project > h1 {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 45px;
}

.page_project > hr {
  border-width: 7px;
  width: 600px;

}

.image_project {
  padding-top: 50px;
  padding-left: 80px;
}
.image_project > img{
  
  width: 1000px;
  height: 550px;
  
  
}
.about_project {
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}
.about_project > h2 { 
  font-size: 28px;
  color: black;
}
.about_project > h3 {
  color: #D8B129;
}
.about_project > p {
  max-width: 400px; 
  word-wrap: break-word; 
}

.imagens > img {
  padding-right: 10px;
  width: 70px;
  height: 60px;

}
.imagens > .react {
  
  width: 70px;
  height: 55px;
  

}
.imagens img {
  filter: brightness(0%);
}
.imagens img:hover {
  transition: 0.4s;
  filter: none;
}

.imagens img:not(:hover) {
  transition: 1s ease;
}
.button > input{
 width: 150px;
 height: 35px;
 font-size: 18px;
 border-radius: 7px;
 background-color: black;
 color: white;
 cursor: pointer;
 margin-right: 15px;
}
.button > input:hover {
  color: #D8B129;
}
