.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products li {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    list-style: none;
    margin: 0px 10px;
    width: 250px;
    text-transform: uppercase;
    
}
.products p {
    font-size: 1.28em;
}